<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reverse Name</title>
  </head>
  <body>
    <h1>Your name reversed: <%=@name_reversed%>.</h1>
  </body>
</html>
