<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reverse Name</title>
  </head>
  <body>
    <% @number.times do %>
    <p><%=@phrase%>.</p>
    <% end %>
  </body>
</html>
